@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;800&family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font-family: 'Geologica', sans-serif;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color:#96cccf;
    --text-color:#fff;
    --bg-color:#091d39;
}

.calculator{
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: var(--bg-color);
}

.display-box{
    background-color: #eef5ff;
    border: solid #000 0.5px;
    color: #000;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

#btn{
    background-color: var(--main-color);
}

input[type=button] {
    background-color: var(--main-color);
    color: var(--text-color);
    border: solid black 0.5px;
    width: 75px;
    border-radius: 5px;
    height: 45px;
    outline: none;
}
